$primary: #1F4037;
$secondary: #FFBE0B;
$light: #F8F9FA;

$enable-gradients: true;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "tertiary": #709775,
    "quaternary": #FCFCF5,
    "quinary": #FB5607,
    "header": #102B24,
    "background": #fafafa,
    "gazetted": crimson,
    "restricted": yellowgreen,
    "today": #00b9f7,
    "start": rgb(16, 224, 68),
    "stop": rgb(214, 32, 19),
    "lap": #52adf7,
    "reset": #e47012,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";