$primary: #006D77;
$secondary: #E29578;
$light: #F8F9FA;

$enable-gradients: true;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "tertiary": #83C5BE,
    "quaternary": #F4F4F9,
    "quinary": #00B5AD,
    "header": #28436b,
    "background": #fafafa,
    "gazetted": crimson,
    "restricted": yellowgreen,
    "today": #00b9f7,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";