$primary: #506cf7;
$secondary: #F4B9E0;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "tertiary": #F4EAB9,
    "quaternary": #B9F4CD,
    "quinary": #E7660A,
    "background": #fafafa,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";