$primary: #28436b;
$secondary: #B9F4CD;
$light: aliceblue;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "tertiary": #F72585,
    "quaternary": #B9F4CD,
    "quinary": #3F37C9,
    "header": #28436b,
    "background": #fafafa,
    "gazetted": crimson,
    "restricted": yellowgreen,
    "today": #00b9f7,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";