$primary: #3d9bfa;
$secondary: #F4B9E0;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "tertiary": #F4EAB9,
    "quaternary": #B9F4CD,
    "quinary": #E7660A,
    "background": #fafafa,
    "gazetted": crimson,
    "restricted": yellowgreen,
    "today": #00b9f7,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";