#clock-options {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    margin: 2px;
    padding: 2px;
    float: left;
}
#clock-options li {
    border-radius: 4px;
    margin: 1px;
    padding: 3px;
    font-family: var(--clock-font);
    font-size: 0.85rem;
}
#clock-options a {
    color: #009933;
}
#clock-options a:hover {
    cursor: pointer;
    color: #06c546;
}
#clock-options a.current-clock-option {
    border-radius: 7px;
    background-color: #f8fcf4;
}