@font-face {
    font-family: "digital-7";
    src: url('/static/assets/digital-7/digital-7.ttf') format('truetype');
}

:root {
    --clock-font: 'digital-7', monospace;
    --page-font: clamp(0.5rem, 2.5vh, 6rem);
}

#clock {
    width: 95%;
}

.timer {
    font-style: var(--clock-font);
}

.btn {
    color: #F8F9FA;
}

.btn:hover {
    box-shadow: aliceblue 2px 2px 2px 2px;
}

#start-button:hover {
    color: aliceblue;
    background-color: #4edd0c;
}
#pause-button {
    display: none;
}
#stop-button:hover {
    color: aliceblue;
    background-color: #f12409;
}
#lap-button {
    display: none;
}
#lap-button:hover {
    color: aliceblue;
    background-color: #34a4ff;
}
#reset-button:hover {
    color: aliceblue;
    background-color: #ff7301;
}

.clock-option {
    cursor: pointer;
    font-size: var(--page-font)
}