:root {
    --clock-font: monospace
}
.timer {
    font-family: var(--clock-font);
    font-size: 75px;
}

#clock {
    text-align: center;
    padding: 30px;
    height: 40%;
    border: 2px solid #333333;
    border-radius: 10px;
    margin: 30px;
}

#clock-options {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    margin: 2px;
    padding: 2px;
    float: left;
}
#clock-options li {
    border-radius: 4px;
    margin: 1px;
    padding: 3px;
    font-family: var(--clock-font);
    font-size: 0.85rem;
}
#clock-options a {
    color: #FCDEBE;
}
#clock-options a:hover {
    cursor: pointer;
    color: #E5CAAD;
}
#clock-options a.current-clock-option {
    border-radius: 7px;
    background-color: #5E576899;
}