#day-timeline {
    height: 2400px;
    border: 1px solid grey;
    border-right: 0px;
    background-image: linear-gradient(
        to bottom right,
        rgba(236, 236, 236, 0.1) 10%,
        rgba(0, 0, 150, 0.05) 35%,
        rgba(255, 255, 255, 0.15) 100%
    );
}

.hours-label {
    font-size: clamp(0.4rem, 1.25vw, 1.5rem);
}

.hours-line {
    stroke: #00000077;
}
.day {
    fill: url(#day-fill);
    stroke: url(#day-stroke);
    stroke-width: 2px;
}

#day-timeline-svg {
    width: 100%;
    overflow-x: scroll;
}