#day-timeline {
    height: 2500px;
    border: 1px solid grey;
    border-right: 0px;
    background-image: linear-gradient(
        to bottom right,
        rgba(236, 236, 236, 0.1) 10%,
        rgba(0, 0, 150, 0.05) 35%,
        rgba(255, 255, 255, 0.15) 100%
    );
}

.hours-label {
    font-size: clamp(0.4rem, 1.25vw, 1.5rem);
}

.hours-line {
    stroke: #00000077;
}

.now-line {
    stroke: #00b9f7;
    stroke-width: 1.25px;
    display: none;
}
.now-line:hover {
    stroke: #1e80ff;
}

.yesterday {
    font-size: clamp(0.35rem, 0.9vw, 1.35rem)
}

.event-rects {
    position: relative;
    opacity: 0.6;
    stroke-width: 3px;
    stroke: black;
}

.event-rects:hover {
    opacity: 0.8;
    cursor: pointer;
}

#relative-row {
    position: relative;
}

#event-details-popup {
    border-radius: 3px;
    height: fit-content;
    padding: 5px;
    z-index: 100;
    width: 18rem;
    display: none;
}

.change-date-arrow {
    background-color: #fafafa;
    border-radius: 50px;
}

.change-date-arrow:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.form-control {
    background-color: #FCFCF5;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #F8F9FA;
}
.form-control:focus {
    background-color: #FCFCF5;
    border: 0 solid #FCFCF5;
    box-shadow: #FCFCF5 0px 0px 0px 0px;
}
.form-control:hover {
    border: 0 solid #FCFCF5;
}

