#day-timeline {
    height: 2500px;
    border: 1px solid grey;
    border-right: 0px;
    background-image: linear-gradient(
        to bottom right,
        rgba(236, 236, 236, 0.1) 10%,
        rgba(0, 0, 150, 0.05) 35%,
        rgba(255, 255, 255, 0.15) 100%
    );
}

.hours-label {
    font-size: clamp(0.4rem, 1.25vw, 1.5rem);
}

.hours-line {
    stroke: #00000077;
}

.now-line {
    stroke: #00b9f7;
    stroke-width: 1.25px;
    display: none;
    z-index: 10;
}
.now-line:hover {
    stroke: #1e80ff;
}

.yesterday {
    font-size: 0.45rem;
}

.event-rects {
    position: relative;
    z-index: 9;
    opacity: 0.35;
    stroke-width: 2px;
    stroke: black;
}