.dropdown-menu {
    max-height: 175px;
    overflow-y: scroll;
}

.dropdown-item {
    cursor: pointer;
}

/* AI Usage Disclaimer: Used ChatGPT to align the rows and columns in this way. */
.row .calendar-col {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
    text-align: center;
}

.calendar-col-data:hover {
    background-color:  rgb(102, 102, 105);
    color: aliceblue;
}

#date-tooltip {
    display: none;
}