.dropdown-menu {
    max-height: 175px;
    overflow-y: scroll;
}

.dropdown-item {
    cursor: pointer;
}

.calendar-td {
    width: 14.2857%;
}

.calendar-td-data:hover {
    background-color: rgb(102, 102, 105);
    color: aliceblue;
}

#calendar-thead {
    border-bottom: 2px #000;
}

.gazetted {
    background-color: crimson;
}

.restricted {
    background-color: yellowgreen;
}