.dropdown-menu {
    max-height: 175px;
    overflow-y: scroll;
}

.dropdown-item {
    cursor: pointer;
}

/* AI Usage Disclaimer: Used ChatGPT to align the rows and columns in this way. */
.row .calendar-col {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
    text-align: center;
}

.calendar-col-data:hover {
    background-color:  rgb(102, 102, 105);
    color: aliceblue;
    cursor: pointer;
}

#date-title:hover {
    cursor: pointer;
}
#date-tooltip {
    display: none;
}

.event-list-item {
    cursor: pointer;
}

.arrows {
    cursor: pointer;
}

#event-details-popup {
    display: none;
}

.form-control {
    background-color: #FCFCF5;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #F8F9FA;
    padding: 5px;
}
.form-control:focus {
    background-color: #FCFCF5;
    border: 0 solid #FCFCF5;
    box-shadow: #FCFCF5 0px 0px 0px 0px;
    border-bottom: 1px solid #F8F9FA;
    padding: 5px;
}
.form-control:hover {
    border: 0 solid #FCFCF5;
    padding: 5px;
    border-bottom: 1px solid #F8F9FA;

}