#pomodoro-timer {
    color: white;
}

#start-button {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 30px;
    border: 3px solid;
    cursor: pointer;
    font-family: var(--clock-font);
    background-color: #333333;
    color: rgb(109, 221, 17);
}
#start-button:hover {
    color: rgb(0, 255, 13)
}
#stop-button {
    display: none;
    position: relative;
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color: #333333;
    color: #dd1313;
    cursor: pointer;
    font-family: var(--clock-font);
}
#stop-button:hover {
    color: rgb(233, 14, 14);
}
#reset-button {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color: #333333;
    color: rgb(255, 166, 0);
    cursor: pointer;
    font-family: var(--clock-font);
}
#reset-button:hover {
    color: rgb(255, 123, 0);
}

#pomodoro-settings-button {
    float: right;
    border-radius: 12px;
    cursor: pointer;
    background-color: #4d4343;
    color: rgb(0, 102, 255);
    font-family: var(--clock-font);

}

#pomodoro-settings-menu-close-button {
    float: right;
}

#pomodoro-settings-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    translate: -50% -50%;
    padding: 15px;
    border: 2px solid #333333;
    border-radius: 5px;
    background-color: #a2c2f1af;
}

.pomodoro-background {
    background-image: linear-gradient(#ca144b, #e75f4d);
}
.break-background {
    background-color: aqua;
}