


#pomodoro-settings {
    float: right;
}

#pomodoro-settings-menu-close-button {
    float: right;
}

#pomodoro-settings-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    translate: -50% -50%;
    padding: 15px;
    border: 2px solid #333333;
    border-radius: 5px;
    background-color: #a2c2f1af;
}