#lap-counter {
    display: none;
}

.column {
    text-align: center;
    width: 33%;
    padding: 5px;
}

.thead {
    border-bottom: 2px solid #aaaaaa;
}

tr {
    border-bottom: 1px solid #eeeeee;
}

table, th, td {
  text-align: center;
}