#lap-counter {
    display: none;
}

.column {
    text-align: center;
    width: 33%;
    padding: 5px;
}

.thead {
    border-bottom: 2px solid #aaaaaa;
}

tr {
    border-bottom: 1px solid #eeeeee;
}

table, th, td {
  text-align: center;
}

#main-timer {
    font-size: clamp(0.75rem, 3vw, 3rem);
}
#split-timer {
    font-size: clamp(0.5rem, 2vw, 2rem);
}