#lap-counter {
    display: none;
}

.column {
    text-align: center;
    width: 33%;
    padding: 5px;
}

.thead {
    border-bottom: 2px solid #aaaaaa;
}

tr {
    border-bottom: 1px solid #eeeeee;
}

table, th, td {
    text-align: center;
}

td {
    font-family: var(--clock-font);
}

#main-timer {
    font-family: var(--clock-font);
    font-size: clamp(0.75rem, 5vh, 5rem);
}
#split-timer {
    font-family: var(--clock-font);
    font-size: clamp(0.5rem, 3vh, 3rem);
}

#stop-button {
    display: none;
}