#split-timer {
    font-size: 25px;
    color: #D4D2A5;
}
#start-button {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 30px;
    border: 3px solid;
    cursor: pointer;
    font-family: var(--clock-font);
    background-color: #333333;
    color: greenyellow;
}
#start-button:hover {
    color: rgb(51, 255, 0)
}
#pause-button {
    display: none;
    position: relative;
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color: #333333;
    color: rgb(233, 91, 91);
    cursor: pointer;
    font-family: var(--clock-font);
}
#pause-button:hover {
    color: rgb(255, 0, 0);
}
#reset-button {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color: #333333;
    color: rgb(247, 178, 30);
    cursor: pointer;
    font-family: var(--clock-font);
}
#reset-button:hover {
    color: rgb(255, 145, 0);
}
#lap-button {
    display: none;
    position: relative;
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color: #333333;
    color: rgb(30, 160, 247);
    cursor: pointer;
    font-family: var(--clock-font);
}
#lap-button:hover {
    display: none;
    position: relative;
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color: #333333;
    color: rgb(0, 119, 255);
    cursor: pointer;
    font-family: var(--clock-font);
}
#lap-counter {
    display: none;
    padding: 1.5em;
    color: #FCDEBE;
}
#lap-counter-body td {
    font-family: var(--clock-font);
}