/* Entire Webpage */
body {
    position: static;
    background-color: #fafafa;
    color: #1e1e22;
}
html, body {
    margin: 0;
    padding: 0;
}
.bold-text {
    font-weight: bold;
    color: #fff
}
#header {
    position: sticky;
    top: 0;
    height: max-content;
    background-color: #c9ec77d5;
    z-index: 10;
    margin: 0;
}
#datetime {
    display: inline;
    float: right;
    color: black;
    margin-left: 8px;
    margin-right: 8px;
    list-style-type: none;
    overflow: hidden;
    padding: 4px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.navbar a {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 8px;
    display: block;
    text-align: center;
    font-size: 16px
}
.navbar li {
    margin: 0;
    padding: 0;
    float: left;
}
.navbar a:hover {
    background-color: #78dadad5;
}
#main {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px
}