/* Entire Webpage */
body {
    position: static;
    background-color: #fafafa;
    color: #1e1e22;
}
html, body {
    margin: 0;
    padding: 0;
}
.bold-text {
    font-weight: bold;
    color: #fff
}
#header {
    position: sticky;
    width: 100%;
    background-color: #100f16d5;
    z-index: 10;
    margin: 0;
    padding: 2px;
}
.navbar {
    margin: 0;
    padding: 0;
}
.navbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    display: block;
}
.navbar li {
    margin: 0;
    padding: 0;
    float: left;
}
#clock {
    position: absolute;
    top: 0;
    color: white;
    left: 92.5%;
}
#main {
    margin-left: 10px;
    margin-right: 10px
}

/* Index */
.years-menu {
    background-color: #afafaf;
}
.months-menu {
    background-color: #afafaf;
}

.calendar-table {
    /* width: 1820px;
    height: 800px; */
    /* position: relative; */
    border: 2px solid rgb(140, 140, 140);
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 3px;
}

.calendar-th, .calendar-td {
    position: relative;
    width: 14.2857142857%;
    border: 1px solid #c5c8c6;
    padding: 5px;
}
.calendar-td-data-tooltip{
    position: absolute;
    z-index: 3;
    width: 200px;
    padding: 10px;
    background-color: rgba(210, 210, 225, 0.8);
    color: white;
    left: calc(200% + 5px);
    top: 50%;
    transform: translate(-50%, -50%)
}

.calendar-td-data:hover {
    background-color: #c5c8c6;
}

.today {
    color: #05a1e8;
}

.restricted {
    color: #4acc4a;
}
.gazetted {
    color: #cc4a4a;
}


/* Dates page */
/* Add Event Form */
#add-event-div {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #c5c8c6;
    color: #1e1e22;
    border-radius: 5px;
    padding: 6px;
}

#add-event-form {
    border: 2px solid #000;
    /* width: 25%; */
    padding: 5px;
}

.event-form-data {
    padding:10px;
}

#event-form-close {
    position: absolute;
    top: 10px;
    right: 5px;
}

#event-description {
    width: 95%;
    height: 30px;
}

/* SVG */
#day-timeline-svg {
    height: auto;
    max-width: 95%;
}

.day {
    fill: url(#day-fill);
    stroke: url(#day-stroke);
    stroke-width: 2px;
}

.hours {
    stroke: rgb(66, 33, 66);
    stroke-width: 2px;
    opacity: 0.1;
}

#now {
    stroke: blue;
    stroke-width: 2px;
    position: relative;
}

#now:hover {
    stroke: #666fd3;
    stroke-width: 5px;
}

.custom-lines:hover {
    opacity: 0.8;
    stroke-width: 3px;
    position: relative;
}

.custom-lines::before, .custom-lines::after {
    content: "hello";
    color: white;
    width: 100%;
    height: 100%;
    top: 0.25rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    background-color: black;
}

/* Event Table */
#event-table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid rgb(140, 140, 140);
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 6px;
    width: 60%
}

.event-table-data-all {
    border: 2px solid black;
}

.event-table-row-hover {
    background-color: #eee;
}

/* Popups */
.event-popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    min-width: 30%;
    width: fit-content;
    max-width: 30%;
    top: 50%;
    left: 80%;
    /* margin-left: 20px; */
    padding: 15px;
    translate: -50% -50%;
    color: #f2ece6;
    background-color: #333;
    border-radius: 10px;
    hyphens: auto;
    overflow-wrap: break-word;
    overflow: hidden;
}

.event-popup-hover {
    display: inline-block;
}

.event-popup-name {
    position: relative;
}

.event-popup-name::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 90%;
    height: 1px;
    border-radius: 3px;
    background-image: linear-gradient(to right, var(--popup-color, #fff), #000);
}

/* Used ChatGPT to make new lines in table cells */
.event-table-data {
    white-space: pre-wrap;
    border: 1px solid black;
    padding: 5px;
    width: max-content;
    overflow-wrap: max-content;
}

#event-table-index {
    text-align: center;
}


/* Login page */
#remember-me {
    font-size: 11px;
}


/* Settings */
