{% extends "layout.html" %}

{% block title %}- About{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}

{% block main %}
    <div class="m-2">
        <section id="about">
            <p class="h1">About</p>
            <p class="h5">CS50x Final Project</p>
            <p>A calendar website that displays government holidays in India.</p>
        </section>
        <section id="credit">
            <p class="h1">Credits</p>
            <a href="https://www.flaticon.com/free-icons/pomodoro" title="pomodoro icons">Pomodoro icons created by nangicon - Flaticon</a><br>
            <a href="https://india.gov.in/calendar" title="holidays-data">Indian Holiday's data was scraped from National Portal of India's calendar page.</a>
        </section>
    </div>
{% endblock %}