{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}

{% block main %}
    <div class="nav-section">

    </div>
    <section id="about">
        <p class="h1">About</p>
        <p>CS50x Final Project</p>
    </section>
    <section id="credit">
        <p class="h1">Credits</p>
        <a href="https://www.flaticon.com/free-icons/pomodoro" title="pomodoro icons">Pomodoro icons created by nangicon - Flaticon</a><br>
        <a href="https://india.gov.in/calendar" title="holidays-data">Data about holidays in India was scraped from National Portal of India's calendar page.</a>
    </section>
{% endblock %}