{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='clock.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    {% block subpage_style %}

    {% endblock %}
{% endblock %}

{% block main %}
    <div id="clock" class="container-lg m-3 card">
        <div class="card-body">
            <div id="clock-options" class="d-flex flex-row justify-content-center p-3">
                <span class="p-2">
                    <a id="clock-options-stopwatch" href="{{ url_for('stopwatch') }}">
                        <i class="bi bi-stopwatch"></i>
                        Stopwatch
                    </a>
                </span>
                <span class="p-2">
                    <a id="clock-options-pomodoro" class="p-3" href="{{ url_for('pomodoro') }}">
                        <img src="../static/assets/pomodoro-technique.png" alt="pomodoro png" style="width: 18px; height: 18px;">
                        Pomodoro
                    </a>
                </span>
            </div>
            <div id="inner-clock-div">
                {% block clock %}
        
                {% endblock %}
            </div>
        </div>
    </div>

    {% block subpage_main %}

    {% endblock %}
    <script src="{{ url_for('static', filename='clock.js') }}"></script>
    {% block subpage_script %}{% endblock %}
{% endblock %}