{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='clock.css') }}">
    {% block subpage_style %}

    {% endblock %}
{% endblock %}

{% block main %}
    <div id="clock">
        <ul id="clock-options">
            <li>
                <a id="clock-options-stopwatch" href="{{ url_for('stopwatch') }}">Stopwatch</a>
            </li>
            <li>
                <a id="clock-options-pomodoro" href="{{ url_for('pomodoro') }}">Pomodoro</a>
            </li>
        </ul>
    {% block clock %}

    {% endblock %}
    </div>

    {% block subpage_main %}

    {% endblock %}
    <script src="{{ url_for('static', filename='clock.js') }}"></script>
    {% block subpage_script %}{% endblock %}
{% endblock %}