{% extends 'layout.html' %}

{% block main %}
    <h1>{{ year }}-{{ month }}-{{ day }}</h1>
    <h3>{{ day_name }}</h3>

    <form action="", method="post">
        <label>Event</label>
        <input name="add-event-name" autocomplete="off" placeholder="Event">
        <br>
        <label>Description</label>
        <input name="add-event-description" autocomplete="off" placeholder="Event Description">
        <br>
        <label>Timings</label>
        <select id="event-timings-hours" name="add-event-timings-minutes">

        </select>
        <span>:</span>
        <select id="event-timings-minutes" name="add-event-timings-minutes">

        </select>
        <br>
        <label>Event Color</label>
        <select id="event-color" name="add-event-color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="yellow">Yellow</option>
        </select>
        <br>
        <input value="Add Event" type="submit">
    </form>

    <script>
        let eventTimingsHours = document.getElementById('event-timings-hours');
        let eventTimingsMinutes = document.getElementById('event-timings-minutes');

        function pad(singleDigit) {
            singleDigit = singleDigit.toString().padStart(2, '0');
            return singleDigit;
        } 

        for (let i = 0; i < 25; i++) {
            eventTimingsHours.innerHTML += `<option value="${i}">${pad(i)}</option>`;
        }

        for (let i = 0; i < 60; i++) {
            eventTimingsMinutes.innerHTML += `<option value="${i}">${pad(i)}</option>`;
        }

        function setColorMenuColor() {
            eventColorMenu.setAttribute('style', `background-color: ${eventColorMenu.value}`);
        }

        eventColorMenu = document.getElementById('event-color');
        document.addEventListener('DOMContentLoaded', setColorMenuColor)
        eventColorMenu.addEventListener('change', setColorMenuColor)

    </script>
{% endblock main %}