{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dates.css') }}">
{% endblock %}

{% block main %}
    <h1>{{ date }}</h1>
    <button id="add-event-button">Add Event</button>

    <div id="day-timeline-div">
        <svg id="day-timeline-svg" width="1500" height="2800" viewBox="0 0 1500 2700">

            <defs>
                <linearGradient id="day-fill" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop offset="10%" style="stop-color: rgb(236, 236, 236); stop-opacity: 0.1"></stop>
                    <stop offset="35%" style="stop-color: rgb(0, 0, 150); stop-opacity: 0.05"></stop>
                    <stop offset="100%" style="stop-color: rgb(255, 255, 255); stop-opacity: 0.15"></stop>

                </linearGradient>
                <linearGradient id="day-stroke" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop offset="35%" style="stop-color: rgb(12, 25, 100); stop-opacity: 0.65"></stop>
                    <stop offset="100%" style="stop-color: rgb(0, 0, 0); stop-opacity: 0.85"></stop>
                </linearGradient>
            </defs>
            <text id="day-name" x="750" y="50" dominant-baseline="top" text-anchor="middle" font-size="40" fill="black">{{ day_name }}</text>

            <polyline class="day" points="1000,100 75,100 75,2600 1000,2600"/>

            <line class="hours" x1="75" y1=100 x2="975" y2=100></line>
            <text x="20" y="109" font-size="18" font="sans-serif" fill="black">23:00</text>
            <text id="yesterday" x="0" y="159" font-size="14" font="sans-serif" fill="black"></text>
            <line class="hours" x1="75" y1=200 x2="975" y2=200></line>
            <text x="20" y="209" font-size="18" font="sans-serif" fill="black">00:00</text>
            <line class="hours" x1="75" y1=300 x2="975" y2=300></line>
            <text x="20" y="309" font-size="18" font="sans-serif" fill="black">01:00</text>
            <line class="hours" x1="75" y1=400 x2="975" y2=400></line>
            <text x="20" y="409" font-size="18" font="sans-serif" fill="black">02:00</text>
            <line class="hours" x1="75" y1=500 x2="975" y2=500></line>
            <text x="20" y="509" font-size="18" font="sans-serif" fill="black">03:00</text>
            <line class="hours" x1="75" y1=600 x2="975" y2=600></line>
            <text x="20" y="609" font-size="18" font="sans-serif" fill="black">04:00</text>
            <line class="hours" x1="75" y1=700 x2="975" y2=700></line>
            <text x="20" y="709" font-size="18" font="sans-serif" fill="black">05:00</text>
            <line class="hours" x1="75" y1=800 x2="975" y2=800></line>
            <text x="20" y="809" font-size="18" font="sans-serif" fill="black">06:00</text>
            <line class="hours" x1="75" y1=900 x2="975" y2=900></line>
            <text x="20" y="909" font-size="18" font="sans-serif" fill="black">07:00</text>
            <line class="hours" x1="75" y1=1000 x2="975" y2=1000></line>
            <text x="20" y="1009" font-size="18" font="sans-serif" fill="black">08:00</text>
            <line class="hours" x1="75" y1=1100 x2="975" y2=1100></line>
            <text x="20" y="1109" font-size="18" font="sans-serif" fill="black">09:00</text>
            <line class="hours" x1="75" y1=1200 x2="975" y2=1200></line>
            <text x="20" y="1209" font-size="18" font="sans-serif" fill="black">10:00</text>
            <line class="hours" x1="75" y1=1300 x2="975" y2=1300></line>
            <text x="20" y="1309" font-size="18" font="sans-serif" fill="black">11:00</text>
            <line class="hours" x1="75" y1=1400 x2="975" y2=1400></line>
            <text x="20" y="1409" font-size="18" font="sans-serif" fill="black">12:00</text>
            <line class="hours" x1="75" y1=1500 x2="975" y2=1500></line>
            <text x="20" y="1509" font-size="18" font="sans-serif" fill="black">13:00</text>
            <line class="hours" x1="75" y1=1600 x2="975" y2=1600></line>
            <text x="20" y="1609" font-size="18" font="sans-serif" fill="black">14:00</text>
            <line class="hours" x1="75" y1=1700 x2="975" y2=1700></line>
            <text x="20" y="1709" font-size="18" font="sans-serif" fill="black">15:00</text>
            <line class="hours" x1="75" y1=1800 x2="975" y2=1800></line>
            <text x="20" y="1809" font-size="18" font="sans-serif" fill="black">16:00</text>
            <line class="hours" x1="75" y1=1900 x2="975" y2=1900></line>
            <text x="20" y="1909" font-size="18" font="sans-serif" fill="black">17:00</text>
            <line class="hours" x1="75" y1=2000 x2="975" y2=2000></line>
            <text x="20" y="2009" font-size="18" font="sans-serif" fill="black">18:00</text>
            <line class="hours" x1="75" y1=2100 x2="975" y2=2100></line>
            <text x="20" y="2109" font-size="18" font="sans-serif" fill="black">19:00</text>
            <line class="hours" x1="75" y1=2200 x2="975" y2=2200></line>
            <text x="20" y="2209" font-size="18" font="sans-serif" fill="black">20:00</text>
            <line class="hours" x1="75" y1=2300 x2="975" y2=2300></line>
            <text x="20" y="2309" font-size="18" font="sans-serif" fill="black">21:00</text>
            <line class="hours" x1="75" y1=2400 x2="975" y2=2400></line>
            <text x="20" y="2409" font-size="18" font="sans-serif" fill="black">22:00</text>
            <line class="hours" x1="75" y1=2500 x2="975" y2=2500></line>
            <text x="20" y="2509" font-size="18" font="sans-serif" fill="black">23:00</text>
            <line class="hours" x1="75" y1=2600 x2="975" y2=2600></line>
            <text x="20" y="2609" font-size="18" font="sans-serif" fill="black">00:00</text>

            <line id="now" x1="75" x2="975" display="none"/>

            {{ event_polylines | safe }}
        </svg>
    </div>

    {% if current_user.is_authenticated %}
    <div id="add-event-div">
        <form action="" method="post">
            <button type="button" class="close-add-event-form">X</button>
            {{ add_event_form.hidden_tag() }}
            <p>
                {{ add_event_form.name.label }}<br>
                {{ add_event_form.name(size=32) }}<br>
            </p>
            <p>
                {{ add_event_form.description.label }}<br>
                {{ add_event_form.description(size=64) }}
            </p>
            <p>
                {{ add_event_form.start_time.label }}
                {{ add_event_form.start_time(value=add_event_form.start_time.default) }}
            </p>
                {{ add_event_form.end_time.label }}
                {{ add_event_form.end_time(value=add_event_form.start_time.default) }}
            <p>
                {{ add_event_form.event_color.label }}
                {{ add_event_form.event_color(id="event-color") }}
                <svg width="30" height="25">
                    <rect id="event-form-color-picker" fill="red" x="15" y="15" width="30" height="12.5"></rect>
                </svg>
            </p>
            <p>
                {{ add_event_form.submit() }}
            </p>
        </form>
    </div>
    {% endif %}

    {% if events %}
        {% for event in events %}
            <div id="event-popup-{{ event.id }}" class="event-popup card text-bg-primary mb-3" style="--popup-color: {{ event.color }}; max-width: 18rem">
                <h1 class="event-popup-name">{{ event.name }}</h1>
                <p class="event-popup-desc">{{ event.desc }}</p>
                <p class="event-popup-start">{{ event.start_time }}</p>
                <p class="event-popup-end">{{ event.end_time }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <script src="{{ url_for('static', filename='dates.js') }}"></script>
{% endblock main %}