{% extends 'layout.html' %}

{% block main %}
    <h1>{{ date }}</h1>
    <h2>{{ day_name }}</h2>

    <form id="add-event" action="", method="post">
        <label>Event</label>
        <input name="event-name" autocomplete="off" placeholder="Event">
        <br>

        <label>Description</label>
        <input name="event-description" autocomplete="off" placeholder="Event Description">
        <br>

        <label>From</label>
        <input class="event-timings-date" name="event-timings-date-start" value="{{ date }}" min="1971-01-01" max="2099-12-31" type="date"></input>
        <input class="event-timings-time" name="event-timings-time-start" value="00:00" type="time"></input>
        <br>

        <label>To</label>
        <input class="event-timings-date" name="event-timings-date-end" value="{{ date }}" min="1971-01-01" max="2099-12-31" type="date"></input>
        <input class="event-timings-time" name="event-timings-time-end" value="00:00" type="time"></input>
        <br>

        <label>Event Color</label>
        <select id="event-color" name="event-color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="yellow">Yellow</option>
        </select>
        <br>
        
        <input value="Add Event" type="submit">
    </form>

    <script>
        let eventTimingsDate = document.getElementsByClassName('event-timings-date');
        let eventTimingsTime = document.getElementsByClassName('event-timings-time');
        let eventTimingsMinutes = document.getElementsByClassName('event-timings-minutes');

        function pad(singleDigit) {
            singleDigit = singleDigit.toString().padStart(2, '0');
            return singleDigit;
        }
    
        function setColorMenuColor() {
            eventColorMenu.setAttribute('style', `background-color: ${eventColorMenu.value}`);
        }

        let eventColorMenu = document.getElementById('event-color');
        document.addEventListener('DOMContentLoaded', setColorMenuColor);
        eventColorMenu.addEventListener('change', setColorMenuColor);
    </script>
{% endblock main %}