{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
{% endblock %}

{% block main %}
    <div class="d-flex me-1">
        <div class="dropdown mx-2 px-2 gx-2">
            <a class="year-button btn btn-sm btn-secondary dropdown-toggle rounded-pill year-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ today.year }}
            </a>

            <ul class="dropdown-menu years-menu">
                {% for year in years %}
                    {% if today.year == year.year %}
                        <li><a id="current-year" class="year-{{year.year}} dropdown-item years active" type="years" value="{{ year.year }}">{{ year.year }}</a></li>
                    {% else %}
                        <li><a class="year-{{year.year}} dropdown-item years" type="years" value="{{ year.year }}">{{ year.year }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="dropdown me-1">
            <a class="btn btn-sm btn-secondary dropdown-toggle rounded-pill month-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ today.strftime("%B") }}
            </a>

            <ul class="dropdown-menu months-menu">
                {% for (month_id, month) in menses.items() %}
                    {% if today.month == month_id %}
                        <li><a id="current-month" class="month-{{month_id}} dropdown-item months active" type="months" value="{{ month_id }}" text="{{ month }}">{{ month }}</a></li>
                    {% else %}
                        <li><a class="month-{{month_id}} dropdown-item months" type="months" value="{{ month_id }}">{{ month }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-md ms-1 my-3 border">
        <div class="caption-div d-flex justify-content-between">
            <p class="h2 caption">
                        
            </p>
            <div class="arrow-icons py-2 text-secondary">
                <i id="previous-month" class="arrows bi bi-caret-left"></i>
                <i id="next-month" class="arrows bi bi-caret-right"></i>
            </div>
        </div>
        <div class="row flex-nowrap d-none d-sm-flex">
            <div class="weekday border calendar-col">Monday</div>
            <div class="weekday border calendar-col">Tuesday</div>
            <div class="weekday border calendar-col">Wednesday</div>
            <div class="weekday border calendar-col">Thursday</div>
            <div class="weekday border calendar-col">Friday</div>
            <div class="weekday border calendar-col">Saturday</div>
            <div class="weekday border calendar-col">Sunday</div>
        </div>
        <div class="row flex-nowrap d-flex d-sm-none">
            <div class="weekday border fs-6 calendar-col">Mon</div>
            <div class="weekday border fs-6 calendar-col">Tue</div>
            <div class="weekday border fs-6 calendar-col">Wed</div>
            <div class="weekday border fs-6 calendar-col">Thu</div>
            <div class="weekday border fs-6 calendar-col">Fri</div>
            <div class="weekday border fs-6 calendar-col">Sat</div>
            <div class="weekday border fs-6 calendar-col">Sun</div>
        </div>
        <div id="dates-container">

        </div>
    </div>

    <div class="container m-1">
        <div id="date-container" class="col-7 col-md-8 m-3">
            <div id="date-tooltip" class="card rounded overflow-hidden">
                <div class="card-header bg-primary bg-gradient text-white text-center">
                    <div id="date-title" class="h4 fw-bold"></div>
                </div>
                <div class="card-body bg-light">
                    <div>
                            <div id="events" class="h6 fw-bold text-dark">Events</div>
                            <div id="events-paragraph" class="p lead fs-6"></div>
                    </div>

                    <div>
                        <div id="holiday-header" class="h6 fw-bold m-0 text-dark">Holidays</div>
                        <div id="holiday-paragraph" class="p lead fs-6 mb-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- AI Usage Disclaimer: I used Gemini to style this div element and its children. -->
    <div id="event-details-popup" class="ms-2 mt-2 rounded bg-light position-absolute">
        <div id="card-header" class="card-header bg-event-color container py-2 px-3 rounded d-flex justify-content-between">
            <div class="d-flex align-items-center flex-start">
                <small class="text-uppercase fw-bold">Events</small>
            </div>
            <div id="edit-icon" value="0" role="button" data-bs-toggle="modal" data-bs-target="#edit-event-modal"><i class="edit-icon bi bi-pen"></i></div>
        </div>

        <div class="card-body">
            <h5 id="event-title" class="card-title fw-bold text-dark mb-2"></h5>
            
            <p id="description-card" class="card-text text-muted small border-bottom pb-2 mb-3 mx-1"></p>

            <ul class="list-group list-group-flush rounded m-1">
                <li class="list-group-item d-flex align-items-center px-0 py-1">
                    <i class="bi bi-clock-history text-secondary me-2"></i>
                    <span id="duration" class="card-link fw-semibold text-primary small"></span>
                </li>
                
                <li class="list-group-item d-flex align-items-start px-0 py-1">
                    <i class="bi bi-calendar-range text-secondary me-2 mt-1"></i>
                    <span id="timings" class="card-link text-wrap small"></span>
                </li>
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}