{% extends "clock.html" %}

{% block subpage_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='pomodoro.css') }}">
{% endblock %}

{% block clock %}
    <div class="d-flex justify-content-end">
        <p id="pomodoro-settings-button">
            <i class="bi bi-gear"></i>
        </p>
    </div>
    <div id="timers" class="d-flex flex-column align-items-center">
        <p id="pomodoro-timer" class="timer fw-bold">00:00:00.000</p>
    </div>
    <div class="d-flex justify-content-center buttons">
        <button id="start-button" class="clock-button btn btn-start btn-sm mx-1">Start</button>
        <button id="stop-button" class="clock-button btn btn-stop btn-sm mx-1">Pause</button>
        <button id="reset-button" class="clock-button btn btn-reset btn-sm mx-1">Reset</button>
    </div>
{% endblock %}

{% block subpage_main %}
    <div id="pomodoro-settings-menu">
        <button id="pomodoro-settings-menu-close-button">close</button>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.pomodoro_duration.label }}<br>
                {{ form.pomodoro_duration() }}
            </p>
            <p>
                {{ form.short_break.label }}<br>
                {{ form.short_break() }}
            </p>
            <p>
                {{ form.long_break.label }}<br>
                {{ form.long_break() }}
            </p>
            <p>
                {{ form.long_break_interval.label }}<br>
                {{ form.long_break_interval() }}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
{% endblock %}

{% block subpage_script %}
    <script src="{{ url_for('static', filename='pomodoro.js') }}"></script>
{% endblock %}