{% extends "clock.html" %}

{% block title %}- Pomodoro{% endblock %}

{% block subpage_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='pomodoro.css') }}">
{% endblock %}

{% block additional_options %}
    <span class="p-2 clock-option" type="button" data-bs-toggle="modal" data-bs-target="#pomodoro-settings-menu">
        <i class="bi bi-gear"></i>
    </span>
{% endblock %}

{% block clock %}
    <div id="timers" class="d-flex flex-column align-items-center p-4">
        <p id="pomodoro-timer" class="timer fw-bold">00:00:00.000</p>
    </div>
    <div class="d-flex justify-content-center buttons">
        <button id="start-button" class="clock-button btn btn-start btn-md mx-1">Start</button>
        <button id="stop-button" class="clock-button btn btn-stop btn-md mx-1">Pause</button>
        <button id="reset-button" class="clock-button btn btn-reset btn-md mx-1">Reset</button>
    </div>
    <div class="d-flex mt-5 mb-3 justify-content-start">
        <div id="counter-display" class="m-3">
            <div class="d-flex flex-column align-items-start">
                <div id="counter-display-title" class="h6 mb-0 text-secondary">Session Progress</div>
                <div class="d-flex align-items-baseline">
                    <span id="counter-display-count" class="h3 fw-bold text-dark mb-0">0</span>
                    <span class="text-muted ms-1 small"> /</span>
                    <span id="lb-interval" class="text-muted ms-1 small">{{ form.long_break_interval.value }}</span>
                </div>
            </div>
        </div>
        <div id="total-productivity" class="m-3">
            <div class="d-flex flex-column align-items-start">
                <div id="counter-display-title" class="h6 mb-0 text-secondary">
                    Total Productivity
                </div>
                <div class="d-flex align-items-baseline">
                    <span id="total-productivity-count">00:00:00</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block subpage_main %}
    <div id="pomodoro-settings-menu" class="modal fade" tabindex="-1" aria-labelledby="modal-title">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-header text-light">
                    <h1 class="modal-title fs-5" id="pomodoro-settings-label">Pomodoro Settings</h1>
                    <a type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></a>                   
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.pomodoro_duration.label(class="form-label") }}<br>
                            {{ form.pomodoro_duration(class="form-control") }}
                        </p>
                        <p>
                            {{ form.short_break.label(class="form-label h1 small fw-bold") }}<br>
                            {{ form.short_break(class="form-control border-bottom") }}
                        </p>
                        <p>
                            {{ form.long_break.label(class="form-label h1 small fw-bold") }}<br>
                            {{ form.long_break(class="form-control border-bottom") }}
                        </p>
                        <p>
                            {{ form.long_break_interval.label(class="form-label h1 small fw-bold") }}<br>
                            {{ form.long_break_interval(class="form-control border-bottom") }}
                        </p>
                        <p>
                            {{ form.submit(class="btn btn-secondary save-pomodoro-settings-button") }}
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block subpage_script %}
    <script src="{{ url_for('static', filename='pomodoro.js') }}"></script>
{% endblock %}