{% extends "layout.html" %}

{% block main %}
  <label class="switch">
    <input id="color-palette" name="color-palette" type="checkbox">
    <label for="color-palette">Dark Mode</label>
  </label>

  <script>
    async function setUserSettings(setting, optionValue) {
      let response = await fetch(`api/settings/set-settings?setting=${setting}&option=${optionValue}`, {
        headers: {
          'Request-Source': 'JS-AJAX'
        }
      });
    }

    colorPalette = document.getElementById('color-palette');
    colorPalette.addEventListener('change', () => {
      let colorPaletteValue = localStorage.getItem('dark-mode') === '2' ? '1' : '2';
      localStorage.setItem('dark-mode', colorPaletteValue);
      setUserSettings('1', colorPaletteValue);
    });
  </script>
{% endblock %}