{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stopwatch.css') }}">
{% endblock %}

{% block main %}
    <div id="clock">
        <ul id="clock-options">
            <li>Stopwatch</li>
            <li>Pomodoro</li>
        </ul>
        <p id="timer">00:00:00.000</p>
        <button id="start-button">Start</button>
        <button id="pause-button">Pause</button>
        <button id="reset-button">Reset</button>
    </div>
    <script src="{{ url_for('static', filename='stopwatch.js') }}"></script>
{% endblock %}