{% extends "clock.html" %}

{% block subpage_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stopwatch.css') }}">
{% endblock %}

{% block clock %}
    <p id="main-timer" class="timer">00:00:00.000</p>
    <p id= "split-timer" class="timer">00:00:00.000</p>
    <button id="start-button">Start</button>
    <button id="pause-button">Pause</button>
    <button id="lap-button">Lap</button>
    <button id="reset-button">Reset</button>

    <table id="lap-counter">
        <thead>
            <caption>

            </caption>
            <tr>
                <th>Lap</th>
                <th>Time</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="lap-counter-table-body">

        </tbody>
    </table>
{% endblock %}

{% block subpage_script %}
    <script src="{{ url_for('static', filename='stopwatch.js') }}"></script>
{% endblock %}