{% extends "clock.html" %}

{% block subpage_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stopwatch.css') }}">
{% endblock %}

{% block clock %}
    <div id="timers" class="d-flex flex-column align-items-center p-4">
        <p id="main-timer" class="timer fw-bold">00:00:00</p>
        <p id= "split-timer" class="timer small">00:00:00</p>
    </div>
    <div class="d-flex justify-content-center buttons">
        <button id="start-button" class="btn btn-start btn-md mx-1">Start</button>
        <button id="stop-button" class="btn btn-stop btn-md mx-1">Pause</button>
        <button id="lap-button" class="btn btn-lap btn-md mx-1">Lap</button>
        <button id="reset-button" class="btn btn-reset btn-md mx-1">Reset</button>
    </div>
    <div class="container-lg my-2">
        <table id="lap-counter" class="table table-hover">
            <caption>

            </caption>
            <thead class="thead">
                <tr>
                    <th scope="col" class="colmn">Lap</th>
                    <th scope="col" class="colmn">Time</th>
                    <th scope="col" class="colmn">Total</th>
                </tr>
            </thead>
            <tbody id="lap-counter-table-body">

            </tbody>
        </table>
    </div>
{% endblock %}

{% block subpage_main %}
{% endblock %}

{% block subpage_script %}
    <script src="{{ url_for('static', filename='stopwatch.js') }}"></script>
{% endblock %}